<!-- Template for Show Tool Buttons section -->
<div class="settings_section">
    <h4>Show Tool Buttons</h4>
    <div class="setting_item">
        <div class="gg-setting-inline">
            <input type="checkbox" id="gg_showSimpleSendButton" name="showSimpleSendButton" class="gg-setting-input">
            <label for="gg_showSimpleSendButton">Show Simple Send Button</label>
        </div>
    </div>
    <div class="setting_item">
        <div class="gg-setting-inline">
            <input type="checkbox" id="gg_showRecoverInputButton" name="showRecoverInputButton" class="gg-setting-input">
            <label for="gg_showRecoverInputButton">Show Recover Input Button</label>
        </div>
    </div>
    <div class="setting_item">
        <div class="gg-setting-inline">
            <input type="checkbox" id="gg_showEditIntrosButton" name="showEditIntrosButton" class="gg-setting-input">
            <label for="gg_showEditIntrosButton">Show Edit Intros Button</label>
        </div>
    </div>
    <div class="setting_item">
        <div class="gg-setting-inline">
            <input type="checkbox" id="gg_showCorrectionsButton" name="showCorrectionsButton" class="gg-setting-input">
            <label for="gg_showCorrectionsButton">Show Corrections Button</label>
        </div>
    </div>
    <div class="setting_item">
        <div class="gg-setting-inline">
            <input type="checkbox" id="gg_showUndoButton" name="showUndoButton" class="gg-setting-input">
            <label for="gg_showUndoButton">Show Undo Last Addition Button</label>
        </div>
    </div>
    <div class="setting_item">
        <div class="gg-setting-inline">
            <input type="checkbox" id="gg_showRevertButton" name="showRevertButton" class="gg-setting-input">
            <label for="gg_showRevertButton">Show Revert to Original Button</label>
        </div>
    </div>
</div>
<hr>