<!-- Template for Show Action Buttons section -->
<div class="settings_section">
    <h4>Show Action Buttons</h4>
    <div class="setting_item">
        <div class="gg-setting-inline">
            <input type="checkbox" id="gg_showImpersonate" name="showImpersonate" class="gg-setting-input">
            <label for="gg_showImpersonate">Show Guided Impersonate</label>
        </div>
    </div>
    <div class="setting_item">
        <div class="gg-setting-inline">
            <input type="checkbox" id="gg_showGuidedContinue" name="showGuidedContinue" class="gg-setting-input">
            <label for="gg_showGuidedContinue">Show Guided Continue</label>
        </div>
    </div>
    <div class="setting_item">
        <div class="gg-setting-inline">
            <input type="checkbox" id="gg_showGuidedResponse" name="showGuidedResponse" class="gg-setting-input">
            <label for="gg_showGuidedResponse">Show Guided Response</label>
        </div>
    </div>
    <div class="setting_item">
        <div class="gg-setting-inline">
            <input type="checkbox" id="gg_showGuidedSwipe" name="showGuidedSwipe" class="gg-setting-input">
            <label for="gg_showGuidedSwipe">Show Guided Swipe</label>
        </div>
    </div>
</div>
<hr>